:root {
  --blue: #006d77;
  --green: #83c5be;
  --white: #edf6f9;
  --pink: #ffddd2;

}

body {
  margin: 0 auto;
}

.App {
  color: var(--blue);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.post {
  background-color: var(--white);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--green);
  border-radius: 8px;
  padding: 16px;
  width: 400px
}

ul {
  padding: 0
}

.title {
  font-weight: bold;
}

.description {
  padding-bottom: 16px;
}

input {
  background-color: var(--white);
  border: 1px solid var(--green);
  border-radius: 8px;
  padding: 8px 16px;
  width: 400px;
  color: var(--blue);

}
input.description {
  height: 64px;
}

.input-block {
  margin-bottom: 20px;
}

button {
  background-color: var(--blue);
  border-radius: 8px;
  border: none !important;
  color: var(--white);
  font-size: 16px;
  padding: 8px;
}

button:hover {
  background-color: var(--green);
  cursor: pointer;
}

.like {
  padding: 8px 10px;
  margin-left: 16px

}

.post-actions {
  justify-content: flex-end;
  display: flex;
}

.delete {
  border: 1px solid var(--green);
  padding: 2px 4px;
  background-color: white;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
}

.delete:hover {
  cursor: pointer;
  background-color: var(--green);
}
